body {
    margin: 0px;
}

header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 15px 5px #818181;
    background-color: #f5f6fa;
    align-items: center;
    margin-bottom: 2vh;
}

header h1 {
    font-family: Georgia, serif;
    font-size: 35px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-inline-start: 5vw;
}

.location-container {
    width: 20vw;
    margin-inline-end: 5vw;
}

main {
    width: 80vw;
    margin: 0 auto;
    background-color: #f5f6fa;
    min-height: 100vh;
    box-shadow: 0px 9px 15px 5px #B1B1B1;
}

#map {
    height: 400px;
    width: 50vw;
    margin: 0 auto;
}

.main-header {
    width: 20vw;
    margin: 0 auto;
    text-align: center;
}