body {
    margin: 0px;
}

header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 15px 5px #818181;
    background-color: #70a1ff;
    align-items: center;
    margin-bottom: 5vh;
}

header h1 {
    font-family: Georgia, serif;
    font-size: 35px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-inline-start: 5vw;
}

main {
    width: 80vw;
    margin: 0 auto;
    background-color: #f5f6fa;
    min-height: 100vh;
    box-shadow: 0px 9px 15px 5px #B1B1B1;
}

#map {
    height: 400px;
    width: 40vw;
    margin: 0 auto;
    box-shadow: 0px 0px 26px 14px rgba(167, 167, 167, 0.64);
    border: 6px outset rgba(0, 0, 0, 0.171);
}

.main-header {
    width: 20vw;
    margin: 0 auto;
    text-align: center;
}

.search-conatiner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.status {
    /* width: 40vw; */
    text-align: center;
    color: rgba(0, 0, 0, .6);
    text-shadow: 0px 3px 3px rgba(63, 61, 61, 0.726);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.location-container {
    width: 30vw;
    margin-inline-end: 5vw;
}

button {
    background-color: #747d8c;
    border: none;
    border-radius: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    /* border: 6px outset rgba(0, 0, 0, 0.171); */
}

button:hover {
    box-shadow: 0px 0px 26px 14px rgba(248, 244, 244, 0.64);
    background-color: #747d8c;
    border: none;
    transform: scale(1.2);
    border-radius: 5px;
}

.info-container {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 25px;
    height: 50vh;
    width: 25vw;
}

.dropbtn {
    background-color: #70a1ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    position: fixed;
    bottom: 2vh;
    left: 2vw;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    bottom: 10vh;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #70a1ff;
}